@import 'tailwindcss';

html,
body,
#app {
	height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.video-stage {
	position: relative;
}

.roi-canvas {
	cursor: crosshair;
	touch-action: none;
	z-index: 1;
}
